@model IEnumerable<StudentModel>

@{
	ViewData["Title"] = "Index Json";
}

<a asp-action="Create">Create new Student</a>

<h2>Here is the list of students</h2>

<table style="width:100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Gender</th>
			<th>City</th>
			<th>Graduated</th>
			<th>Graduated</th>
			<th>Scores</th>
		</tr>
	</thead>
	<tbody>
		@foreach (StudentModel e in Model)
		{
			<tr>
				<td>@e.Id</td>
				<td>@e.Name</td>
				<td>@e.Gender</td>
				<td>@e.City</td>
				<td>@e.Graduated</td>
				<td>@e.Scores</td>
				<td><a asp-action="Prediction" asp-route-studentId="@e.Id">Predict</a></td>
			</tr>
		}
	</tbody>
</table>